@charset "utf-8";
/* CSS Document */

body {
    font-family:"Georgia",serif;
color:black
line: height 140%;
margin: 30px;
background-image: url("https://github.com/zedrickburns/zedrickburns.github.io/blob/main/week03/page-bg.gif?raw=true");
}