@charset "utf-8";
/* CSS Document */

body {
    font-family:"Georgia",serif;
color:black
line: height 140%;
margin: 30px;
background-image: url("C:\Users\zdrck\OneDrive\Documents\job stuff\GDC\BWP\week03");
}